.button {
    width: fit-content;
    height: 70px;
    background: #CF0B15;
    flex-shrink: 0;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight:900;
    line-height: normal;
    border-color:#CF0B15;;
    box-shadow: none;
    border-style: solid;
    display:flex;
    align-items: center;
    padding:10px;
}

.button:hover {
    background:rgb(134, 22, 22);
    border-color: rgb(134, 22, 22);;
    cursor:grab;
}

.logo {
    height: 25px;
    margin-top: 10px;
    margin-left: 6px;
}